body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82%,
    rgba(227, 255, 248, 0.38) 100%
  );

  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

.page #logo:hover {
  transition: filter 0.3s;
  filter: contrast(1.3);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #1f1534;
  text-decoration: none;
}

ul li a {
  opacity: 0.7;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
  transition: 0.3s;
}

h1,
ul {
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  color: #1f1534;

  font-weight: normal;

  width: 490px;
}

h1 span {
  color: #89c5cc;
  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;

  margin: 40px 0;
}

button {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;

  background: #69b99d;
  border: none;
  padding: 14px 32px 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #337e74ec;
  filter: opacity(1.2);
  transition: 0.3s;
}

footer {
  font-size: 14px;
  line-height: 28px;
  margin-top: 80px;

  text-align: center;
}

footer a {
  font-weight: bold;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
